:root {
	--vp-home-hero-name-color: transparent;
	--vp-home-hero-name-background: -webkit-linear-gradient(120deg, #6B26D9 30%, #06b6d4) !important;

	--vp-home-hero-image-background-image: linear-gradient(-45deg, #6B26D9 50%, #06b6d4 50%) !important;
	--vp-home-hero-image-filter: blur(44px) !important;
	--vp-c-brand-1: hsl(263.4, 70%, 60.4%) !important;
	--vp-c-brand-2: hsl(263.4, 70%, 55.4%) !important;
	--vp-c-brand-3: hsl(263.4, 70%, 50.4%) !important;
}

@media (min-width: 640px) {
	:root {
		--vp-home-hero-image-filter: blur(56px) !important;
	}
}

@media (min-width: 960px) {
	:root {
		--vp-home-hero-image-filter: blur(68px) !important;
	}
}
